#!/bin/sh

xrdb "$HOME/.Xdefaults"
xset r rate 400 50 &
xautolock -time 30 -locker "systemctl suspend" -detectsleep &
capstoescape.sh &
sxhkd &
mpd &
clipmenud &
unclutter &
picom &
dunst &
screen &
nm-applet &
feh --bg-scale /home/dan/walls/monsters1.jpg
