#!/bin/sh
xrdb "$HOME/.Xdefaults"
xset r rate 400 50 &
xautolock -time 60 -locker "systemctl suspend" -detectsleep &
xinput disable 'SynPS/2 Synaptics TouchPad'
rebinds.sh &
sxhkd &
mpd &
clipmenud &
unclutter &
picom &
dunst &
screen &
nm-applet &
xwallpaper --stretch /home/dan/stuff/walls/halloween6.jpg
rfkill block bluetooth
autotiling &
